# Dependencies
node_modules/
.pnp
.pnp.js

# Production Build Outputs
build/
dist/
coverage/
doc/

# OS & Environment Metadata
.DS_Store
Thumbs.db
*.log
.env*
!.env.example
README.md

# IDE & Editor caches
.vscode/
.idea/
*.swp
*.swo

